/minizinc
__pycache__
/upload/event_image
/upload/mailchimp
/venv
/.cache
/env
/.pytest_cache
/.mypy_cache
/node_modules
.ipynb_checkpoints
/notebooks/scratch.ipynb
/collected_static

*.swp
.idea/
.vscode/
/.dir-locals.el
/data/
/static/dist
/webpack-stats.json
/coverage
/.docker-sync
/.coverage
/htmlcov
