*.swp
.\#*
.idea/
.vscode/
/.dir-locals.el

/backend/node_modules

# not necessary for git but helps with `ag`
/frontend/node_modules
/frontend/.next
/frontend/dist
/frontend/coverage
/backend/venv

/build.json
