[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

slackclient = "*"
markdown = "*"
sqlalchemy = "*"
captcha-solver = "*"
python-dateutil = "*"
"httplib2" = "*"
google-api-python-client = "*"
google-auth = "*"
"google-auth-httplib2" = "*"
gspread = "*"
pillow = "*"
requests = "*"
pyjwt = "*"
gunicorn = "*"
quart = "*"
mwclient = "*"
termcolor = "*"
pandas = "*"
pyppeteer = "*"
werkzeug = "*"
attrs = "*"
apscheduler = "*"
alembic = "*"
fire = "*"
python-gitlab = "*"
slackeventsapi = "*"
pytz = "*"
"boto3" = "*"
mysqlclient = "*"
flask-sqlalchemy = "*"
raven = "*"
requests-toolbelt = "*"
slappy = ">=0.2.1"


[dev-packages]

pytest = "*"
freezegun = "*"
aioconsole = "*"
pytest-asyncio = "*"
mypy = "*"
black = "==18.6b4"
pycookiecheat = "*"


[requires]

python_version = "3.6"


[pipenv]

keep_outdated = true
