slackclient < 2.0
markdown
captcha-solver
python-dateutil
httplib2
google-api-python-client
google-auth
google-auth-httplib2
gspread
requests
pyjwt
mwclient
termcolor
pandas
git+https://github.com/berekuk/pyppeteer.git@dev
attrs
apscheduler
fire
python-gitlab
slackeventsapi
pytz
boto3
mysqlclient == 1.4.2
requests-toolbelt
slappy == 0.5.1
feedgen
telethon
pysocks
django == 2.2
django-cors-headers
django-rest-framework
sentry-sdk[flask]
django-debug-toolbar
honcho
tqdm
gunicorn >= 19.9
aiogram >= 2.0
aiohttp_socks >= 0.2.2
whitenoise >= 4.1
channels >= 2.1
channels_redis >= 2.4
django-reversion >= 3.0
redis >= 3.2
django-reversion-compare >= 0.8.6
wagtail == 2.5
git+https://github.com/berekuk/wagtailmath.git@master
django-annoying

# dev-dependencies
pytest
pytest-asyncio
pytest-env
pytest-django
pytest-cov
freezegun
mypy
black == 18.6b4
pycookiecheat
jupyter
aioconsole
matplotlib
seaborn
python-docx
flake8 >= 3.7
pyinotify >= 0.9.6
codecov
