slackclient
markdown
sqlalchemy
captcha-solver
python-dateutil
httplib2
google-api-python-client
google-auth
google-auth-httplib2
gspread
Pillow
requests
pyjwt
gunicorn
quart
mwclient
termcolor
pandas
git+https://github.com/miyakogi/pyppeteer.git@f971a74e24eefb79322f389b82c99cbf29bcc08c
