slackclient
markdown
sqlalchemy
captcha-solver
python-dateutil
httplib2
google-api-python-client
google-auth
google-auth-httplib2
gspread
Pillow
requests
pyjwt
gunicorn
Flask
Flask-BasicAuth
flask-cors
