[Unit]
Description=Kocherga API
After=network.target

[Service]
User=berekuk
Restart=on-failure
WorkingDirectory=/srv/kocherga-api
EnvironmentFile=/srv/kocherga-api/env
ExecStart=/srv/kocherga-api/venv/bin/python3 /srv/kocherga-api/venv/bin/gunicorn -w 4 -b *:5101 kocherga.api.app:app

[Install]
WantedBy=multi-user.target
