/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/static/fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'),
    url('/static/fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff');
  font-display: swap;
}

/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('/static/fonts/roboto-v27-latin_cyrillic-italic.woff2') format('woff2'),
    url('/static/fonts/roboto-v27-latin_cyrillic-italic.woff') format('woff');
  font-display: swap;
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('/static/fonts/roboto-v27-latin_cyrillic-500.woff2') format('woff2'),
    url('/static/fonts/roboto-v27-latin_cyrillic-500.woff') format('woff');
  font-display: swap;
}

/* roboto-500italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(''),
    url('/static/fonts/roboto-v27-latin_cyrillic-500italic.woff2')
      format('woff2'),
    url('/static/fonts/roboto-v27-latin_cyrillic-500italic.woff') format('woff');
  font-display: swap;
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('/static/fonts/roboto-v27-latin_cyrillic-700.woff2') format('woff2'),
    url('/static/fonts/roboto-v27-latin_cyrillic-700.woff') format('woff');
  font-display: swap;
}

/* roboto-700italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('/static/fonts/roboto-v27-latin_cyrillic-700italic.woff2')
      format('woff2'),
    url('/static/fonts/roboto-v27-latin_cyrillic-700italic.woff') format('woff');
  font-display: swap;
}
