{% extends 'base.html' %}

{% block title %}Ratio{% endblock %}

{% block content %}
<h1>{{ training.name }}</h1>
<p>Когда: <strong>{{ training.date }}</strong></p>

<section>
  <h2>Участники: <a href="{{ tickets_url }}">{{ training.tickets_count() }}</a></h2>
  <ul>
    {% for ticket in training.tickets.all() %}
    <li>{{ ticket.email }}</li>
    {% endfor %}
  </ul>
</section>

<div>
  <form method="post" action="{{ url('ratio:training_to_mailchimp', kwargs={'name': training.name }) }}">
    {{ csrf_input }}
    <input type="submit" value="Отправить участников в mailchimp" />
  </form>
</div>

<div>
  <form method="post" action="{{ url('ratio:training_post_email', kwargs={'name': training.name }) }}">
    {{ csrf_input }}
    <input type="submit" value="Создать черновик пострассылки" />
  </form>
</div>

<section>
  <a href="{{ url('ratio:schedule', kwargs={'name': training.name}) }}">Расписание</a>
</section>
{% endblock %}
