{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div>
  <h1>Личный кабинет Кочерги</h1>

  <div>
    Аккаунт: <code>{{ email }}</code>.
    <a href="/logout">Выйти</a>
  </div>

  {% if is_staff %}
  <div>
    <a href="{{ url('admin:index') }}">Перейти в админку</a>
  </div>
  {% endif %}

  {% if customer %}
    <h2>Посещения</h2>
    <p>
    Номер вашей карты: <strong>{{customer.card_id}}</strong>
    </p>
    {% if customer.subscription_until %}
    <p>Абонемент действует до <strong>{{ customer.subscription_until.date() }}</strong>.
    {% endif %}
    <p
    {% if orders|length %}
    <p>
      Последнее посещение:
      <strong>{{ orders[-1].end_dt.date() }}</strong>
    </p>
    {% endif %}
    <p>
      Всего вы были в Кочерге <strong>{{ orders|length }}</strong> раз.
    </p>
    <p>
      Суммарно вы потратили в Кочерге <strong>{{ orders|sum(attribute='order_value') }}</strong> руб.
    </p>
  {% else %}
    <p>
      <i>
      Этот аккаунт не связан ни с какой клубной картой.
      <br>
      Если у вас есть клубная карта, возможно, она не привязана к этому email-адресу. Попросите администратора это исправить.
      </i>
    </p>
  {% endif %}
</div>
{% endblock %}
