{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div>
  <h1>Личный кабинет Кочерги</h1>

  <div>
  Аккаунт: <code>{{ email }}</code>
  </div>

  {% if is_staff %}
  <div>
    <a href="{{ url('admin:index') }}">Перейти в админку</a>
  </div>
  {% endif %}

  {% if customer %}
    <p>
    Номер вашей карты: <strong>{{customer.card_id}}</strong>
    </p>
  {% else %}
    <p>
      <i>
      Этот аккаунт не связан ни с какой клубной картой.
      <br>
      Если у вас есть клубная карта, возможно, она не привязана к этому email-адресу. Попросите администратора это исправить.
      </i>
    </p>
  {% endif %}
</div>
{% endblock %}
